html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}

.jumbotron {
    margin-top: 80px;
}

#content {
    margin-top: 80px;
}

.no-inputrequests-here {
    text-align: center;
}

.inputrequest {}

.inputrequest .inputrequest__meta {
    font-weight: bold;
    text-align: left;
    font-size: larger;
    padding-bottom: 19px;
}

.inputrequest .inputrequest__submeta {
    font-weight: normal;
    color: #595959;
}

.inputrequest .inputrequest__meta a:hover {
    text-decoration: none;
}

.btn-add-new-inputrequest {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

th {
    width: 150px;
}

th, td {
    border: 1px solid #c5c5c5;
    max-width: 200px;
    overflow: hidden;
}

table, th, td {
    border-collapse: collapse;
    padding: 5px;
    color: black;
}

.td-ok {
    background-color: #e3f9eb;
}

.td-missing {
    color: red;
}

.td-different {
    background-color: rgba(249, 164, 10, 0.21);
}

/*table tr:nth-child(odd) {*/
/*background-color: #f9f9f9;*/
/*}*/

/*table tr:nth-child(even) {*/
/*background-color: #ffffff;*/
/*}*/