Django==1.8.5
coverage==3.7.1
dj-database-url==0.3.0
dj-static==0.0.6
django-bower==5.0.4
django-lockdown==1.1
django-nose==1.4.0
django-meta==0.3.1
django-settings-export==1.0.3
djangorestframework==3.9.1
gunicorn==19.5.0
psycopg2==2.6.1
django-websocket-redis==0.4.4
uwsgi==2.0.11.2
wsaccel==0.6.2
django-redis-sessions==0.5.0
django-redis-cache==1.6.3
