<div class="container">
    <div class="row" id="search-container">
        <div class="col-md-12">
            <input autocomplete="off"
                   autofocus="autofocus"
                   id="search-input"
                   placeholder="Search Requests by Title, ID, BU, device etc (and combination of it)."
                   type="text"
                   ng-model="searchString" />
        </div>
    </div>

    <div ng-hide="viewLoading" id="search-subtitle">
        <div class="col-md-12 no-inputrequest-here">
            {{ vm.requests.length }} matching requests.
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-horizon">
        <div ng-repeat="request in vm.requests" class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="panel panel-default" ng-click="selectRequest(request, this);">
                <div class="panel-heading">
                    <strong><a target=_self href="/api/inputrequests/{{ request.id }}">#{{ request.id }}</a></strong>
                    <span>{{ request.date | date:"d MMM yyyy 'at' H:mm"  }}</span>
                </div>
                <div class="panel-body" ng-class="panelClassForRequest(request);">
                    <div ng-if="request.icons.os" class="pull-right">
                        <img src="{{ request.icons.os }}" width="50" class="img-thumbnail">
                    </div>
                    <div ng-if="request.icons.app" class="pull-right">
                        <img src="{{ request.icons.app }}" width="50" class="img-thumbnail">
                    </div>
                    <div ng-if="request.icons.browser" class="pull-right">
                        <img src="{{ request.icons.browser }}" width="50" class="img-thumbnail">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div ng-show="vm.selected_requests && vm.selected_requests.length">
                <table border="0">
                    <tr>
                        <th style="background-color: lightgray;">Keys</th>
                        <th ng-repeat="request in vm.selected_requests" class="compared-request">
                            <button type="button" class="close" aria-label="Close" ng-click="removeSelectedRequest(request);"><span aria-hidden="true">&times;</span></button>

                            <strong><a target=_self href="/api/inputrequests/{{ request.id }}">#{{ request.id }}</a></strong>
                            <span>{{ request.date | date:"d MMM yyyy 'at' H:mm"  }}</span>

                            <br/>
                            <div ng-if="request.icons.os" class="pull-left">
                                <img src="{{ request.icons.os }}" width="50" class="img-thumbnail">
                            </div>
                            <div ng-if="request.icons.app" class="pull-left">
                                <img src="{{ request.icons.app }}" width="50" class="img-thumbnail">
                            </div>
                            <div ng-if="request.icons.browser" class="pull-left">
                                <img src="{{ request.icons.browser }}" width="50" class="img-thumbnail">
                            </div>
                        </th>
                    </tr>
                    <tr ng-repeat="row in vm.table.rows">
                        <td ng-repeat="cell in row track by $index" class="td-{{ cell.content == 'missing' && 'missing' || '' }} td-{{ row[0].validation }}">{{ cell.content }}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
