<div class="container">
    <div class="row" id="search-container">
        <div class="col-md-10">
            <input autocomplete="off"
                   autofocus="autofocus"
                   id="search-input"
                   placeholder="Search Requests by Title, ID, BU, device etc (and combination of it)."
                   type="text"
                   ng-model="searchString" />
        </div>

        <div class="col-md-2">
            <h4>Event : '{{ vm.table.event }}' </h4>
        </div>
    </div>

    <div ng-hide="viewLoading" id="search-subtitle">
        <div class="col-md-12 no-inputrequest-here">
            {{ vm.table.requests.length }} matching requests.
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-horizon">
        <div ng-repeat="request in vm.table.requests" class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <smallinputrequest inputrequest="request"></smallinputrequest>
        </div>
    </div>
</div>

