<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <button type="button" class="btn btn-default btn-lg" ng-click="compareRequests();">Compare Play Events Live</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        See Latest Requests Live <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="seeLatestRequests();">All BUs</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" ng-click="seeLatestRequests('srf');">SRF</a></li>
                        <li><a href="#" ng-click="seeLatestRequests('rts');">RTS</a></li>
                        <li><a href="#" ng-click="seeLatestRequests('rsi');">RSI</a></li>
                        <li><a href="#" ng-click="seeLatestRequests('rtr');">RTR</a></li>
                        <li><a href="#" ng-click="seeLatestRequests('swi');">SWI</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-default btn-lg" ng-click="seeLatestEvents();">See Streamsense Events Live</button>
            </div>
        </div>
    </div>
</div>

