<div class="container">
    <div class="row">

        <div class="col-md-12">
            <h2>Business Unit(s) : {{ vm.bu }} </h2>
        </div>

        <div class="col-md-12">
            <div ng-repeat="inputrequest in inputrequests track by $index">
                <inputrequest inputrequest="inputrequest"></inputrequest>
            </div>
        </div>

        <div ng-hide="inputrequests && inputrequests.length">
            <div class="col-md-12 no-inputrequest-here">
                Loading...
            </div>
        </div>
    </div>

</div>
