<div class="container">
    <div class="row">
        <div ng-hide="!is_paginated">
            <ul class="pagination pagination-sm">
                <li ng-class="{active:0}">
                    <a href="#" ng-click="firstPage()">First</a>
                </li>

                <li data-ng-repeat="i in range.slice(0,number_of_pages) track by $index">
                    <a href="#" ng-click="setPage()" ng-bind="index+1">{{ i }}</a>
                </li>

                <li>
                    <a href="#" ng-click="lastPage()">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div ng-repeat="inputrequest in inputrequests track by $index">
                <inputrequest inputrequest="inputrequest"></inputrequest>
            </div>
        </div>

        <div ng-hide="inputrequests && inputrequests.length">
            <div class="col-md-12 no-inputrequest-here">
                Loading...
            </div>
        </div>
    </div>

</div>
