<div class="container">
    <div class="row">
        <div ng-hide="!is_paginated">
            <ul class="pagination pagination-sm">
                <li ng-class="{active:0}">
                    <a href="#" ng-click="firstPage()">First</a>
                </li>

                <li data-ng-repeat="i in range.slice(0,number_of_pages) track by $index">
                    <a href="#" ng-click="setPage()" ng-bind="index+1">{{ i }}</a>
                </li>

                <li>
                    <a href="#" ng-click="lastPage()">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>date</th>
            <th>ns_ap_device</th>
            <th>ns_st_ev / ns_ap_ev</th>
            <th>ns_st_ep / srg_title</th>
            <th>ns_st_po / category</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data_row in inputrequests track by $index" class="{{ $index%2 == 0 && 'highlight' }}">
            <td>{{data_row.data}}</td>
            <td>{{data_row.request_arguments.ns_ap_device}}</td>
            <td>{{data_row.request_arguments.ns_st_ev}}{{data_row.request_arguments.ns_ap_ev}}</td>
            <td>{{data_row.request_arguments.ns_st_ep}}{{data_row.request_arguments.srg_title}}</td>
            <td>{{data_row.request_arguments.ns_st_po}}{{data_row.request_arguments.category}}</td>
        </tr>
        </tbody>
    </table>
</div>
