<!DOCTYPE html>

{% load staticfiles %}

<html ng-app="jass">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {#    {% include 'meta.html' %}#}

    <title>JASS :: Just Another Statistics Sniffer</title>

    <script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'underscore/underscore-min.js' %}"></script>

    <!-- AngularJS -->
    <script type="text/javascript" src="{% static 'angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-cookies/angular-cookies.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-resource/angular-resource.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'angular-route/angular-route.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ngDialog/js/ngDialog.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'ngDialog/css/ngDialog.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-select/dist/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'snackbarjs/dist/snackbar.min.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <base href="/" />

    {% block head_end_block %}{% endblock head_end_block %}
</head>

<body>

{#{% block before_body_block %}{% endblock before_body_block %}#}

{% block body_block %}{% endblock body_block %}

{#{% block after_body_block %}{% endblock after_body_block %}#}

{% include 'jass/javascripts.html' %}

</body>
</html>