{% load staticfiles %}

<!-- JS Global -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="http://fgnass.github.io/spin.js/spin.min.js"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script>

<!-- JS Custom -->
<script type="text/javascript" src="{% static 'snackbarjs/dist/snackbar.min.js' %}"></script>

<!-- Angular jass -->
<script type="text/javascript" src="{% static 'javascripts/jass.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/jass.config.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/jass.routes.js' %}"></script>

<!-- Angular jass: Layout -->
<script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/requests.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/layout/controllers/comparisons.controller.js' %}"></script>

<!-- Angular jass: Utils -->
<script type="text/javascript" src="{% static 'javascripts/utils/utils.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/utils/services/snackbar.service.js' %}"></script>

<!-- Angular jass: inputrequests -->
<script type="text/javascript" src="{% static 'javascripts/inputrequests/inputrequests.module.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/inputrequests/services/inputrequests.service.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/inputrequests/directives/inputrequest.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/inputrequests/directives/inputrequests.directive.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/inputrequests/controllers/inputrequests.controller.js' %}"></script>
