<div class="row-fluid" ng-cloak>
    <div class="col-sm-12">

        <h2>Comparison for Media ID: {{ vm.table.media_id }}</h2>

        <table border="0">
            <tr>
                <th>Keys</th>
                <th ng-repeat="request in vm.table.requests">
                    Req. #{{ request.id }}
                </th>
            </tr>
            <tr ng-repeat="row in vm.table.rows">
                <td ng-repeat="cell in row track by $index" class="td-{{ cell.content == 'missing' && 'missing' || '' }} td-{{ row[0].validation }}">{{ cell.content }}</td>
            </tr>
        </table>

    </div>
</div>

