<div class="row-fluid" ng-cloak>
    <div class="container">
        <div class="col-sm-12">
            <div ng-show="vm.table.requests && vm.table.requests.length">
                <h3>Comparison for Media ID {{ vm.table.media_id }} for event {{ vm.comparisontable.event }}</h3>
                <p>The current rule is: 1st request serves as reference. Comparison is made with the 10 latest requests, for that ID.</p>
                <table border="0">
                    <tr>
                        <th>Keys</th>
                        <th ng-repeat="request in vm.table.requests" class="{{ $index == '0' && 'first-request' || 'compared-request' }}">
                            Req. #{{ request.id }} {{ $index == '0' && 'Reference' || '' }} <br/>
                            {{ request.date | date:"d MMM yyyy 'at' H:mm"  }}
                            <div ng-if="request.icons.os" class="pull-right">
                                <img src="{{ request.icons.os }}" width="50" class="img-thumbnail">
                            </div>
                            <div ng-if="request.icons.app" class="pull-right">
                                <img src="{{ request.icons.app }}" width="50" class="img-thumbnail">
                            </div>
                            <div ng-if="request.icons.browser" class="pull-right">
                                <img src="{{ request.icons.browser }}" width="50" class="img-thumbnail">
                            </div>
                        </th>
                    </tr>
                    <tr ng-repeat="row in vm.table.rows">
                        <td ng-repeat="cell in row track by $index" class="td-{{ cell.content == 'missing' && 'missing' || '' }} td-{{ row[0].validation }}">{{ cell.content }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-sm-12">
            <div ng-hide="vm.table.requests && vm.table.requests.length">
                <div class="col-md-12 no-inputrequest-here">
                    <h3>No requests found for Media ID: {{ vm.table.media_id }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
