<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="inputrequest">
                <div class="inputrequest__meta">
                    ID:
                    <a href="/{{ inputrequest.id }}">
                        {{ inputrequest.id }}
                    </a>
                </div>

                <div class="inputrequest__content">
                    <strong>From:</strong> {{ inputrequest.origin }}<br/>
                    <strong>URL:</strong> {{ inputrequest.url }}<br/>
                    <strong>Method:</strong> {{ inputrequest.method }}<br/>
                </div>
            </div>
        </div>
    </div>
</div>
